<table class="clean">
  <thead>
    <tr>
      <th width="100">Rating</th>
      <th>Author</th>
      <th width="200">Received by</th>
      <th width="200">Received at</th>
      <th width="200"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.rating %></td>
        <td><%= rating.rater.name %></td>
        <td><%= rating.ratee.name %></td>
        <td><%= rating.created_at.strftime("%b %e,%Y %r") %> </td>
        <td><%= link_to 'Show', admin_rating_path(rating) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
