<% content_for :title, 'Ratings' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Ratings</h5>

<div id="ratingLists">
  <%= render 'ratings' %>
</div>
<div id="paginator">
  <%= paginate @ratings, remote: true %>
</div>
