<p id="notice"><%= notice %></p>

<label>
  Author: <%= @rating.rater.name %>
</label>

<label>
  Received by: <%= @rating.ratee.name %>
</label>

<label>
  Recieved at: <%= @rating.created_at.strftime("%b %e,%Y %r") %>
</label>

<label>
  Comment: <%= @rating.description %>
</label>
