<%= form_for [:admin, @service] do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% @service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <label>
    Name: <%= f.text_field :name %>
  </label>

  <label>
    Description: <br>
    <%= f.text_area :description %>
  </label>


  <label>
    Duration (in minutes): <%= f.text_field :duration %>
  </label>
<%= f.submit 'Submit', class: 'button' %>
<% end %>
