<table class="clean">
  <thead>
    <tr>
      <th>Name</th>
      <th width="100">Duration</th>
      <th width="150">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @services.each do |service| %>
    <tr>
    <td> <%= service.name %> </td>
    <td> <%= service.duration %> </td>
    <td>
      <%= link_to 'Edit', edit_admin_service_path(service), class: 'admin-custom-btn edit' %>
      <%= link_to 'Delete', admin_service_path(service), class: 'admin-custom-btn alert', method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
