<% content_for :title, 'Dental Services' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Dental Services</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_service_path, class: 'admin-btn new' %></small>
  <%= link_to "EXPORT TO CSV", admin_services_path(format: "csv"), class: 'admin-btn export' %>
</div>

<div id="serviceLists">
  <%= render 'services' %>
</div>
<div id="paginator">
  <%= paginate @services, remote: true %>
</div>
