<%= form_for [:admin, @specialty] do |f| %>
  <% if @specialty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specialty.errors.count, "error") %> prohibited this specialty from being saved:</h2>

      <ul>
        <% @specialty.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <label>
    Name: <%= f.text_field :name %>
</label>
<%= f.submit 'Submit', class: 'button' %>
<% end %>
