<table class="clean">
  <thead>
    <tr>
      <th>Name</th>
      <th width="150">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @specialties.each do |specialty| %>
    <tr>
    <td> <%= specialty.name %> </td>
    <td>
      <%= link_to 'Edit', edit_admin_specialty_path(specialty), class: 'admin-custom-btn edit' %>
      <%= link_to 'Delete', admin_specialty_path(specialty), class: 'admin-custom-btn alert', method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
