<% content_for :title, 'Specialty' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Specialty</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_specialty_path, class: 'admin-btn new' %></small>
  <%= link_to "EXPORT TO CSV", admin_specialties_path(format: "csv"), class: 'admin-btn export' %>
</div>

<div id="specialtyLists">
  <%= render 'specialties' %>
</div>
<div id="paginator">
  <%= paginate @specialties, remote: true %>
</div>
