<%= form_for [:admin, @hmo], multipart: true  do |f| %>
  <% if @hmo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hmo.errors.count, "error") %> prohibited this hmo from being saved:</h2>

      <ul>
      <% @hmo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>
    Logo:
    <% if @hmo.logo.present? && !@hmo.logo.new_record? %>
      <%= image_tag @hmo.logo.image.url, width: 100 %>
      <br>
      <br>
    <% end %>
    <%= f.fields_for :logo, @logo do |logo_fields| %>
      <%= logo_fields.file_field :image %>
    <% end %>
  </label>

  <label>
    Name: <%= f.text_field :name %>
  </label>

  <label>
    Description: <br>
    <%= f.text_area :description %>
  </label>

  <div class="actions">
    <%= f.submit 'Submit', class: 'button' %>
  </div>
<% end %>
