<table class="clean">
  <thead>
    <tr>
      <th width="100"></th>
      <th>Name</th>
      <th width="170">Action</th>
    </tr>
  </thead>

  <tbody>
  <% @hmos.each do |hmo| %>
    <tr>
    <td><%= hmo.logo.present? ? image_tag(hmo.logo.image.url, width: 100) : "No logo" %></td>
    <td><%= hmo.name %></td>
    <td>
      <%= link_to 'Show', admin_hmo_path(hmo), class: 'admin-custom-btn success' %>
      <%= link_to 'Edit', edit_admin_hmo_path(hmo), class: 'admin-custom-btn edit' %>
      <%= link_to 'Destroy', admin_hmo_path(hmo), class: 'admin-custom-btn alert', method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
