<% content_for :title, 'HMOs' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">HMOs</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_hmo_path, class: 'admin-btn new' %></small>
  <%= link_to "EXPORT TO CSV", admin_hmos_path(format: "csv"), class: 'admin-btn export' %>
</div>

<%= form_tag admin_hmos_path, method: :get, remote: true, class: "admin-search-bar" do %>
  <%= text_field_tag :q, nil, placeholder: "Search" %>
<% end %>

<div id="hmoLists">
  <%= render 'hmos' %>
</div>
<div id="paginator">
  <%= paginate @hmos, remote: true %>
</div>
