<p id="notice"><%= notice %></p>

<label>
  Logo: <%= image_tag(@hmo.logo.image.url, width: 100)  if @hmo.logo.present? %>
</label>

<label>
  Name: <%= @hmo.name %>
</label>

<label>
  Description: <br>
  <%= @hmo.description %>
</label>
