<table class="clean">
  <thead>
    <tr>
      <th width="200">Patient</th>
      <th width="200">Patient Email</th>
      <th width="200">Patient Number</th>
      <th width="200">Clinic</th>
      <th width="100">Schedule</th>
      <th width="100">Code</th>
      <th width="100">Walk-in</th>
      <th width="100">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td> <%= "#{appointment.patient.first_name} #{appointment.patient.last_name}" %> </td>
        <td> <%= appointment.patient.email %> </td>
        <td> <%= appointment.patient.mobile_number %> </td>
        <td> <%= appointment.clinic_assignment.clinic.name %> </td>
        <td> <%= appointment.schedule.strftime("%l %M %p %a, %b %e %Y ") %> </td>
        <td> <%= appointment.code.to_s %> </td>
        <td> <%= symbolized_appointment_source(appointment: appointment) %> </td>
        <td>
          <%= link_to 'VIEW', admin_appointment_path(appointment) %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
