<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#weeklyTab">Weekly</a></li>
  <li class="tab-title"><a href="#monthlyTab">Monthly</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="weeklyTab">
    <%= line_chart [
      { name: "Pending", data: @pending_appointments.group_by_week(:created_at, week_start: :mon).count },
      { name: "Confirmed", data: @confirmed_appointments.group_by_week(:created_at, week_start: :mon).count },
      { name: "Cancelled", data: @cancelled_appointments.group_by_week(:created_at, week_start: :mon).count },
      { name: "No Show", data: @noshow_appointments.group_by_week(:created_at, week_start: :mon).count },
      { name: "Complete", data: @complete_appointments.group_by_week(:created_at, week_start: :mon).count },
      { name: "Rescheduled", data: @rescheduled_appointments.group_by_week(:created_at, week_start: :mon).count }
    ], xtitle: "Week", ytitle: "Appointments" %>
  </div>
  <div class="content" id="monthlyTab">
    <%= line_chart [
      { name: "Pending", data: @pending_appointments.group_by_month(:created_at).count },
      { name: "Confirmed", data: @confirmed_appointments.group_by_month(:created_at).count },
      { name: "Cancelled", data: @cancelled_appointments.group_by_month(:created_at).count },
      { name: "No Show", data: @noshow_appointments.group_by_month(:created_at).count },
      { name: "Complete", data: @complete_appointments.group_by_month(:created_at).count },
      { name: "Rescheduled", data: @rescheduled_appointments.group_by_month(:created_at).count }
    ], xtitle: "Month", ytitle: "Appointments" %>
  </div>
</div>
