<% content_for :title, 'Dentists' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Appointments</h5>
<div>
  <form action="" style="display: inline;">
    <input type="hidden" name="status" value="<%= params[:status] %>">
    <input type="text" name="query" value="<%= params[:query] %>" placeholder="Search dentist, patient, or clinic name" style="display: inline; width: 90%">
    <button type="submit" class="button tiny" style="width: 9%; display: inline;">Search</button>
  </form>
</div>
<div class="right">
  <%= link_to 'NEW', new_admin_appointment_path, class: 'admin-btn new' %></small>
<%= link_to "EXPORT TO CSV", admin_appointments_path(format: "csv"), class: 'admin-btn export' %>
</div>
<ul class="tabs admin-tab">
  <%= appointment_admin_tab_for(status: 'new', current_status: params[:status]) %>
  <%= appointment_admin_tab_for(status: 'confirmed', current_status: params[:status]) %>
  <%= appointment_admin_tab_for(status: 'failed', current_status: params[:status], custom_title: 'DECLINED / CANCELLED / NO SHOW') %>
  <%= appointment_admin_tab_for(status: 'expired', current_status: params[:status], custom_title: 'FAILED') %>
</ul>
<div id="appointmentsList">
  <%= render 'appointments' %>
</div>
<div id="paginator">
  <%= paginate @appointments, remote: true %>
</div>
