<h4>New Appointment</h4>

<% if @appointment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this dentist from being saved:</h2>

    <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p><%= notice %></p>

<%= form_for [:admin, @appointment] do |f| %>

  <label>Patient:
    <%= f.select :patient_id, patient_choices %>
  </label>
  <label>Dentist - Clinic:
    <%= f.select :clinic_assignment_id, clinic_assignment_choices %>
  </label>
  <label>Service:
    <%= f.select :service_id, service_choices %>
  </label>
  <label>Schedule:
    <%= f.datetime_local_field :schedule %>
  </label>
  <label>Status:
    <%= f.select :status, Appointment.statuses.keys %>
  </label>

  <%= f.submit 'Create', class: 'button' %>

<% end %>
