<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Appointments</h5>
<table class="admin-show-table clean">
  <tr>
    <td>Name:</td>
    <td><%= "#{@appointment.patient.first_name} #{@appointment.patient.last_name}" %></td>
  </tr>
  <tr>
    <td>Schedule:</td>
    <td><%= @appointment.schedule.strftime("%l %M %p %a, %b %e %Y ") %></td>
  </tr>
  <tr>
    <td>Clinic:</td>
    <td><%= @appointment.clinic_assignment.clinic.name %></td>
  </tr>
  <tr>
    <td>Appointment Note:</td>
    <td><%= @appointment.note %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @appointment.status %></td>
  </tr>
</table>
