<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800,900|Open+Sans:300,400" rel="stylesheet">
    <style type="text/css" media="screen">
      * {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
      }
      p, h1, h2, h3, h4, h5 {
        line-height: 175%;
      }
      body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
        margin: 0;
      }
      a {
        color: #0a92a8;
        text-decoration: none;
      }
      .w800 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
      }
      .open-sans {
        font-family: 'Open Sans', sans-serif;
      }
      a:hover {
        color: #0c8497;
      }
      .bold {
        font-weight: bolder;
      }
      .upcase {
        text-transform: uppercase;
      }
      .white {
        color: #fff;
      }
      .grey {
        color: #757575;
      }
      .h3 {
        font-size: 21px;
        line-height: 12px;
      }
      .container {
        max-width: 768px;
        margin: 0 auto;
        background: #fff;
      }
      .container.content {
        width: 90%;
        padding-top: 15px;
        padding-bottom: 50px;
      }
      .top-bar {
        height: 20px;
        background: #32b4ca;
      }
      .logo {
        display: block;
        margin: 40px auto;
        width: 200px;
      }
      .hr {
        display: block;
        margin: 10px auto;
        width: 95%;
        height: 3px;
        background: #d3d3d3;
      }
      .hr.small {
        height: 2px;
        background: #ededed;
      }
      .centered {
        text-align: center;
      }
      .section {
        margin: 50px 10px;
      }
      .section.welcome {
        background-image: url('<%= asset_path "welcome-email-bg.png" %>');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
        margin: 0;
        height: 275px;
        margin-bottom: 100px;
      }
      .welcome-text {
        font-family: 'Montserrat', sans-serif;
        color: #0593ab;
        font-size: 50px;
        float: right;
        margin-right: 90px;
        margin-top: 90px;
      }
      .welcome-img {
        float: left;
        margin-top: 10px;
        margin-left: 50px;
      }
      .section.getting-started {
        padding: 25px 0px;
        margin: 0;
        background: #73ccbc;
      }
      .sections {
        width: 90%;
        margin: 0 auto;
        display: block;
      }
      .getting-started-section {
        width: 32%;
        height: 90%;
        display: inline-block;
        vertical-align: top;
      }
      .number {
        width: 50px;
        height: 50px;
        color: #fff;
        border-radius: 25px;
        border: #fff 2px solid;
        margin: 15px auto;
        display: block;
        text-align: center;
      }
      .footer {
        color: #898989;
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="top-bar"></div>
      <%= image_tag "dentasked_logo.png", class: 'logo' %>
      <div class="hr"></div>
      <div class="container content">
        <div class="section welcome">
          <img class="welcome-img" src="<%= image_url 'welcome-email-phone.png' %>"/>
          <h1 class="upcase welcome-text">Welcome</h1>
        </div>

        <div class="section">
          <h3 class="centered w800">Thank you for signing up, <%= @user.first_name %>!</h3>
          <p class="centered open-sans grey">We're excited to have  you on board :)</p>
          <p class="centered open-sans grey">Our goal is to make life easier and more convenient for you and<br>your clinic administration.</p>
        </div>

        <div class="section getting-started">
          <h2 class="bold upcase centered white">Getting Started</h2>

          <div class="sections row">
            <div class="getting-started-section col">
              <img class="getting-started-img" src="<%= image_url 'getting-started-1.png' %>"/>
              <br>
              <div class="number">
                <p class="h3 bold centered">1</p>
              </div>
              <p class="centered white open-sans">Key in your preferred schedule based on location, date and time, and HMO</p>
            </div>
            <div class="getting-started-section col">
              <img class="getting-started-img" src="<%= image_url 'getting-started-2.png' %>"/>
              <div class="number">
                <p class="h3 bold centered">2</p>
              </div>
              <p class="centered white open-sans">Choose your clinic or dentist</p>
            </div>
            <div class="getting-started-section col">
              <img class="getting-started-img" src="<%= image_url 'getting-started-3.png' %>"/>
              <div class="number">
                <p class="h3 bold centered">3</p>
              </div>
              <p class="centered white open-sans">Get booked!</p>
            </div>
          </div>
        </div>

        <div class="section">
          <h3 class="bold centered w800">We are here for you.</h3>
          <p class="centered open-sans grey">Our team are constantly looking for feedback so we can serve<br>you better. So feel free to drop up us feedback <a href="mailto:PHDigitalMarketing@its.jnj.com?subject=Dentasked%20Feedback&cc=dentaskedph@gmail.com,dentasked.patients@gmail.com">here</a>.</p>
        </div>

        <%= render "shared/mailer/footer" %>
      </div>
    </div>
  </body>
</html>
