<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Open+Sans:200,300,400" rel="stylesheet">
  <style type="text/css" media="screen">
    html, body{
      height: 100%;
      padding: 0;
      margin: 0;
    }
    body{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    *{
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
    }
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2em;
    }
    nav .logo img{ width: 200px }
    nav .faq-helpdesk{ color: #01A2BE }
    nav .faq-helpdesk a{
      text-decoration: none;
      color: #01A2BE;
    }
    .mail-container{
      height: 100%;
      background-color: #FFFFFF;
      max-width: 700px;
      margin: 0 auto;
      padding: 50px 90px;
      box-sizing: border-box;
      text-align: center;
    }
    .btn{
      color: #6db4c8;
      font-weight: bold;
      line-height: normal;
      text-decoration: none;
      padding: 15px 25px;
      display: inline-block;
      font-size: 1.2em;
      border-radius: 5px;
      margin: 1em 0;
    }
    p.text{
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
    }
    p.text a{
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #01A2BE;
      text-decoration: none;
    }
    .hr {
      display: block;
      margin: 10px auto;
      width: 100%;
      height: 3px;
      background: #d3d3d3;
    }
    .top-bar {
      margin: 0px auto;
      height: 20px;
      background: #6db4c8;
      width: inherit;
      max-width: 700px;
    }
    h3{
      font-weight: 800;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      margin: 1em 0;
    }
    .getting-started {
      padding: 30px;
      margin-top: 50px;
      font-weight: 400;
      margin-bottom: 50px;
      background: #73ccbc;
      color: #ffffff;
      text-align: center;
    }
    .email {
      color: #fff;
      font-weight: 600;
      font-size: 1.3em;
      bottom: 10px;
      right: 10px;
      text-decoration: none;
    }
    footer{ color: #01A2BE }
  </style>
</head>

<body>
  <div class="top-bar"></div>
  <div class="mail-container">
    <%= render "shared/mailer/nav_logo" %>

    <h3>Hi, <%= @user.first_name %>!</h3>
    <p class="text">We hope you had a hassle-free booking experience.</p>

    <div class="getting-started">
      Don't forget to share the app to your friends! If you have comments on how we can improve the service, feel free to email us at</p>
      <a href="mailto:dentaskedph@gmail.com" class="email" target="_top">dentaskedph@gmail.com</a>
    </div>

    <%= link_to "Visit our website", "http://dentasked.com/", class: "btn" %>

    <%= render "shared/mailer/footer" %>
  </div>
</body>
</html>
