<%= form_for [:admin, @rating_suggestion] do |f| %>
  <% if @rating_suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating_suggestion.errors.count, "error") %> prohibited this rating suggestion from being saved:</h2>

      <ul>
      <% @rating_suggestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>
    Name: <%= f.text_field :name %>
  </label>

  <label>
    Enabled: <%= f.check_box :enabled %>
  </label>

  <div class="actions">
    <%= f.submit 'Submit', class: 'button' %>
  </div>
<% end %>
