<table class="clean">
  <thead>
    <tr>
      <th width="100">Name</th>
      <th>Author</th>
      <th width="50">Enabled</th>
      <th width="200"></th>
    </tr>
  </thead>

  <tbody>
    <% @rating_suggestions.each do |rating_suggestion| %>
      <tr>
        <td><%= rating_suggestion.name %></td>
        <td><%= rating_suggestion.user.name %></td>
        <td style="text-align: center;"><%= "✓" if rating_suggestion.enabled? %></td>
        <td>
          <%= link_to 'Edit', edit_admin_rating_suggestion_path(rating_suggestion) %>
          <%= link_to 'Delete', admin_rating_suggestion_path(rating_suggestion), method: :delete, data: { confirm: 'Are you sure?' }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
