<% content_for :title, 'Rating Suggestions' %>
<h5 class="header">Rating Suggestions</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_rating_suggestion_path, class: 'admin-btn new' %></small>
</div>

<div id="ratingSuggestionsLists">
  <%= render 'rating_suggestions' %>
</div>
<div id="paginator">
  <%= paginate @rating_suggestions, remote: true %>
</div>
