<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to image_tag('Dentasked-Logo.png'), '#' %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <%= link_to ENV.fetch('TMPI_CMS_USERNAME'), '#' %>
      </li>
    </ul>
  </section>
</nav>
<div class="divider"></div>
<br>
<h5 class="header"><%= yield :title %></h5>

<% filtered_flash(flash).each do |key, value| %>
  <%= content_tag :div, value, class: "alert-box flash #{key}" %>
<% end %>
