<table class="clean">
  <thead>
    <tr>
      <th width="300">Question</th>
      <th>Answer</th>
      <th width="150"></th>
    </tr>
  </thead>

  <tbody>
    <% @faqs.each do |faq| %>
      <tr>
        <td><%= faq.question %></td>
        <td><%= faq.answer %></td>
        <td>
          <%= link_to 'Edit', edit_admin_faq_path(faq), class: 'admin-custom-btn edit' %>
          <%= link_to 'Delete', admin_faq_path(faq), method: :delete, data: { confirm: 'Are you sure?' }, class: 'admin-custom-btn alert' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
