<%= form_for [:admin, @faq] do |f| %>
  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this admin_faq from being saved:</h2>

      <ul>
      <% @faq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>
    Question: <%= f.text_field :question %>
  </label>

  <label>
    Answer: <%= f.text_area :answer %>
  </label>

  <label>
    App: <%= f.select :app_type, ['Patient', 'Secretary'] %>
  </label>

  <div class="actions">
    <%= f.submit 'Submit', class: 'button' %>
  </div>
<% end %>
