<% content_for :title, 'FAQs' %>

<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">FAQs</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_faq_path, class: 'admin-btn new' %></small>
</div>

<div id="faqLists">
  <%= render 'faqs' %>
</div>
<div id="paginator">
  <%= paginate @faqs, remote: true %>
</div>
