<!-- <footer> Dentasked &copy; <%= DateTime.now.year %></footer> -->
<style>
.footer {
  color: #898989;
  font-size: 10px;
}
.hr.small {
  height: 2px;
  background: #ededed;
}
.footer-centered {
  font-size: 10px;
  text-align: center;
}
</style>
<div class="hr small"></div>
<footer class="footer">
  <p class="footer-centered">Copyright @ <%= DateTime.now.year %> Johnson & Johnson PH. All rights reserved.</p>
</footer>
