Hello <%= "#{@dentist.name_with_salutation}" %>,

You have the following appointments for today, <%="#{DateTime.now.strftime("%a %b %e, %Y ")}" %>.

  <% @appointments.each_with_index do |appointment, index| %>
  <%= "##{index + 1}:"%>
     <%= appointment.patient.name %>
     <%= appointment.clinic_assignment.clinic.name %>
     <%= appointment.schedule.strftime("%l:%M %p") %>
     <%= appointment.service.name %>
  <% end %>

Thank you,
Dentasked Team
