<p>
  Hello <%= "#{@dentist.name_with_salutation}" %>,
</p>

<p>
  You have the following appointments for today, <%= "#{DateTime.now.strftime("%a %b %e, %Y ")}"%>.
</p>

<table>
  <thead>
    <tr>
      <th width="200">Patient</th>
      <th width="200">Clinic</th>
      <th width="100">Schedule</th>
      <th width="100">Service</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td> <%= appointment.patient.name %> </td>
        <td> <%= appointment.clinic_assignment.clinic.name %> </td>
        <td> <%= appointment.schedule.strftime("%l:%M %p") %> </td>
        <td> <%= appointment.service.name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Thank you, <br>
  Dentasked Team
</p>
