<p>
  Hello <%= "#{@dentist.name_with_salutation}" %>,
</p>

<p>
  You have no appointments for today, <%= "#{DateTime.now.strftime("%a %b %e, %Y ")}"%>.
</p>

<p>
  Thank you, <br>
  Dentasked Team
</p>
