<% # http://stackoverflow.com/a/12044793 %>
<% headers = ["ID", "Name", "Email", "Role", "Activation_Code", "Activated_at", "Mobile_Number", "Created_At", "Completed_Bookings", "Confirmed_Bookings"] %>
<%= CSV.generate_line(headers).strip %>
<% @users.each do |user| %>
  <% row = [user.id, user.name, user.email, user.role, user.activations.last.try(:code), user.activations.where.not(activated_at: nil).last.try(:activated_at), user.mobile_number, user.created_at, user.appointments.online.complete.count, user.appointments.online.confirmed.count] %>
  <%= CSV.generate_line(row).html_safe.strip %>
<% end %>
