<div class="divider"></div>
<div class="small-centered columns center-content">
  <div class="change-pw-form-container">
    <p>Change your password</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.password_field :password, placeholder: "Password", autofocus: true, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "CHANGE PASSWORD" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
