<hr>

<h4>Clinic Assignments</h4>
<p><%= notice %></p>

<% if @dentist.clinics.empty? %>
  <p>Dentist has not been assigned yet.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Clinic</th>
        <th>Assigned on</th>
        <th>Schedule</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @dentist.clinic_assignments.each do |assignment| %>
        <tr>
          <td><%= assignment.clinic.name %></td>
          <td><%= assignment.created_at %></td>
          <td>
            <% if assignment.schedules.present? %>
              <ul>
                <% assignment.schedules.order(day: :asc).each do |a| %>
                  <%= form_for [:admin, a], url: admin_dentist_delete_schedule_path(@dentist, assignment), method: :delete do |f| %>
                    <%= f.hidden_field :assignment_schedule_id, value: a.id %>
                    <li>
                      <%= format_schedule(a) %>
                      <%= f.submit '&cross;'.html_safe, class: 'button tiny alert' %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </td>
          <td>
            <%= form_for [:admin, assignment], url: admin_dentist_unassignment_path(@dentist), method: :post do |f| %>

              <%= f.hidden_field :clinic_id, value: assignment.clinic_id %>
              <%= f.submit '&cross;'.html_safe, class: 'button tiny alert' %>

            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr>

<%= form_for [:admin, @dentist.clinic_assignments.build], url: admin_dentist_assignment_path(@dentist) do |f| %>

  <%= f.select :clinic_id, clinic_choices %>
    <%= f.fields_for :schedules_attributes do |f| %>
      <label>Days: </label>
      <%= f.select :day, Date::DAYNAMES.zip((0..6).to_a), include_blank: true %>
      <label>Start time: </label>
      <%= f.time_field :start_time %>
      <label>End time: </label>
      <%= f.time_field :end_time %>
    <% end %>
  <%= f.submit 'Assign', class: 'button' %>

<% end %>
