<table class="clean">
  <thead>
    <tr>
      <th width="<%= user_avatar_default_dimension %>"></th>
      <th width="300">Name</th>
      <th width="100">Email</th>
      <th width="100">Activation Code</th>
      <th width="150">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @dentists.each do |dentist| %>
    <tr>
    <td>
      <%= image_tag dentist.avatar.url, width: user_avatar_default_dimension, height: user_avatar_default_dimension %>
    </td>
    <td> <%= "#{dentist.first_name} #{dentist.last_name}" %> </td>
    <td> <%= dentist.email %> </td>
    <td> <%= dentist.profile.activation_code %> </td>
    <td>
      <%= link_to 'Edit', edit_admin_dentist_path(dentist), class: 'admin-custom-btn edit' %>
      <%= link_to 'Delete', admin_dentist_path(dentist), class: 'admin-custom-btn alert', method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
