<%= form_for [:admin, @dentist] do |f| %>
  <% if @dentist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dentist.errors.count, "error") %> prohibited this dentist from being saved:</h2>

      <ul>
        <% @dentist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :avatar, value: nil, id: 'encoded_file_field' %>

  <%= render partial: "shared/croppable_avatar", locals: { avatar_source: @dentist  } %>

  <hr />

  <div class="row">
    <div class="small-12 large-12 columns">
      <%= f.file_field :avatar %>
      <small>NOTE: Photo should have square dimension and atleast be 800px in width.</small>
    </div>
  </div>

  <br>

  <label>
    First Name: <%= f.text_field :first_name %>
  </label>

  <label>
    Last Name: <%= f.text_field :last_name %>
  </label>

  <label>
    Email: <%= f.text_field :email %>
  </label>

  <label>
    Mobile #: <%= f.text_field :mobile_number %>
  </label>

  <label>
    Birthdate: <%= f.date_field :birthdate, value: @dentist.birthdate.try(:to_date) %>
  </label>

  <% if @dentist.profile.present? %>
    <hr>
    <h4>Profile</h4>
    <label>
      Consultation Fee: <%= text_field_tag :fee, @dentist.profile.fee %>
    </label>

    <label>
      Experience: <%= text_field_tag :experience, @dentist.profile.experience %>
    </label>

    <label>
      License Number: <%= text_field_tag :license_number, @dentist.profile.license_number %>
    </label>

    <label>
      Color: <%= color_field_tag :color, @dentist.profile.color %>
    </label>
  <% end %>

  <hr>
  <h4>Specialties</h4>

  <%= hidden_field_tag "dentist[specialty_ids][]", nil %>
  <% Specialty.order(name: :asc).each do |specialty| %>
    <%= check_box_tag "dentist[specialty_ids][]", specialty.id, @dentist.specialties.include?(specialty), id: dom_id(specialty) %>
    <%= label_tag dom_id(specialty), specialty.name %> <br>
  <% end%>

  <hr>
  <h4>Services</h4>

  <%= hidden_field_tag "dentist[service_ids][]", nil %>
  <% Service.order(name: :asc).each do |service| %>
    <%= check_box_tag "dentist[service_ids][]", service.id, @dentist.services.include?(service), id: dom_id(service) %>
    <%= label_tag dom_id(service), service.name %> <br>
  <% end%>

  <hr>
  <h4>HMOs</h4>

  <%= hidden_field_tag "dentist[hmo_ids][]", nil %>
  <% HMO.order(name: :asc).each do |hmo| %>
    <%= check_box_tag "dentist[hmo_ids][]", hmo.id, @dentist.hmos.include?(hmo), id: dom_id(hmo) %>
    <%= label_tag dom_id(hmo), hmo.name %> <br>
  <% end%>

  <hr>
  <h4>Photos</h4>
  <label>
    NOTE: Photo should have square dimension and atleast be 800px in width.
  </label>
  <br>

  <% if @dentist.photos.blank? %>
    <p>No dentist photos.</p>
  <% else %>
    <% @dentist.photos.map do |photo| %>
      <div style="background-image:url(<%= photo.image.url(:medium) %>)" class="photos-grid">
        <%= link_to 'X', admin_photo_path(photo),
          data: { confirm: 'Are you sure?' },
          method: :delete, remote: true,
          class: "destroy-photo" %>
        </div>
      <% end %>
    <% end %>
    <hr>
    <%= file_field_tag "images[]", type: :file, multiple: true %>

    <div class="actions">
      <%= f.submit 'Submit', class: 'button'%>
    </div>
  <% end %>
