<% content_for :title, 'Dentists' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Dentists</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_dentist_path, class: 'admin-btn new' %></small>
  <%= link_to "EXPORT TO CSV", admin_dentists_path(format: "csv"), class: 'admin-btn export' %>
</div>

<%= form_tag admin_dentists_path, method: :get, remote: true, class: "admin-search-bar" do %>
  <%= text_field_tag :q, nil, placeholder: "Search" %>
<% end %>

<div id="dentistLists">
  <%= render 'dentists' %>
</div>
<div id="paginator">
  <%= paginate @dentists, remote: true %>
</div>
