<p id="notice"><%= notice %></p>

<label>
  Name: <%= "#{@dentist.first_name} #{@dentist.last_name}" %>
</label>

<label>
  Email: <%= @dentist.email %>
</label>

<label>
  Mobile #: <%= @dentist.mobile_number %>
</label>

<label>
  Birthdate: <%= @dentist.birthdate %>
</label>
