<table class="clean">
  <thead>
    <tr>
      <th width="200">From</th>
      <th width="200">Subject</th>
      <th>Description</th>
      <th width="150"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.user.name if feedback.user %></td>
        <td><%= feedback.subject %></td>
        <td><%= feedback.description %></td>
        <td><%= link_to 'Show', admin_feedback_path(feedback), class: 'admin-custom-btn success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
