<% content_for :title, 'Feedbacks' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Feedbacks</h5>

<div id="feedbackLists">
  <%= render 'feedbacks' %>
</div>
<div id="paginator">
  <%= paginate @feedbacks, remote: true %>
</div>
