<div id="croppable-thumbnail" class="row">
  <div class="small-1 large-1 columns">
    <label>
      Avatar:&nbsp;
    </label>
  </div>
  <div class="small-11 large-11 columns">
    <% if avatar_source.avatar.present? %>
      <div class="croppable-image-thumbnail" style="background-image: url('<%= avatar_source.avatar.url %>')">
        <a id="croppable-crop" href="#">CROP</a>
      </div>
    <% end %>
  </div>
</div>

<div id="croppable-container" class="row">
  <div class="small-12 large-12 columns">
    <div class="row">
      <div class="small-12 large-12 columns">
        <%= image_tag avatar_source.avatar.url, id: 'croppable-image' %>
      </div>
    </div>
    <div id="croppable-actions" class="row">
      <div class="large-offset-10 large-1 columns">
        <a id="croppable-cancel" href="#">CANCEL</a>
      </div>
      <div class="large-1 columns">
        <a id="croppable-save" href="#">SAVE</a>
      </div>
    </div>
  </div>
</div>
