<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <% unless controller_name != 'passwords' %>
        <h1 class="edit-password-logo">Dentasked</h1>
      <% else %>
        <h1>
          <%= link_to 'Dentasked', root_path %>
        </h1>
      <% end %>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
</nav>

<% filtered_flash(flash).each do |key, value| %>
  <%= content_tag :div, value, class: "alert-box flash #{key}" %>
<% end %>
