<!-- stub stylesheet -->
<%= stylesheet_link_tag("home") %>

<div class ="landing-page-container">
  <div class="logo-container">
    <%= image_tag "dentasked-logo-new.png", class: 'logo' %>
    <p class="text">Thank you! Your password was changed successfully.</p>
  </div>
</div>
