<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @checkmobi.email %></td>
      <td><%= @checkmobi.name %></td>
      <td><%= @checkmobi.balance %></td>
    </tr>
  </tbody>
</table>
