<table class="clean">
  <thead>
    <tr>
      <th>Time</th>
      <th>Message</th>
      <th>Client</th>
      <th>Recipient</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @sms.each do |sms| %>
      <tr>
        <td><%= sms.created_at.iso8601 %></td>
        <td><%= sms.message %></td>
        <td><%= sms_client_image(sms) %></td>
        <td><%= sms.recipient %></td>
        <td><%= sms_status_label(sms) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
