<% content_for :title, 'SMS' %>
<%= content_tag(:p, notice, id: "notice") if notice %>
<h5 class="header">SMS</h5>
<div class="row">
  <% sms_clients.each do |client| %>
    <div class="large-4 columns">
      <%= link_to admin_sms_change_path(client: client), method: :post do %>
        <%= image_tag image_url("#{client}.png"), style: "height: 50px;" %>
      <% end %>
      <hr/>
      <%= render client %>
      <%= sms_active_client(client) %>
    </div>
  <% end %>
</div>
<hr />
<h5 class="header">Logs</h5>
<div id="smsList">
  <%= render 'sms' %>
</div>
<div id="paginator">
  <%= paginate @sms, remote: true %>
</div>
