<% if @app_versions.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
    <table class="app-version-table">
      <thead>
      <tr>
        <th></th>
        <th>Version</th>
        <th>Platform</th>
        <th>Category</th>
        <th>Created by</th>
        <th>Created at</th>
      </tr>
      </thead>

      <tbody>
        <% @app_versions.each.with_index(1) do |version, i| %>
          <tr>
            <td><%= i %></td>
            <td><%= link_to version.version_code, admin_app_version_path(version) %></td>
            <td><%= version.platform %></td>
            <td><%= version.category %></td>
            <td><%= version.created_by %></td>
            <td><%= version.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
