<% content_for :title, 'App Version' %>

<div class="version-header">
  <h5>App Version</h5>

  <%= form_tag admin_app_versions_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off , "data-submit-form" => "" %>
  <% end %>
</div>


<%= render "form" %>
<div id="appVersionLists">
  <%= render "version_list" %>
</div>

<div id="paginator">
  <%= paginate @app_versions, remote: true %>
</div>
