<% provide(:title, "App Version Details") %>
<div class="version-header">
  <h5>App Version</h5>
</div>

<div class="app-version-details">
  <%= link_to "Back", admin_app_versions_path, class: "button button-primary small" %>
  <p>
    <span class="app-version-details__label">
      VERSION CODE:
    </span>
    <%= @app_version.version_code&.upcase %>
  </p>
  <p>
    <span class="app-version-details__label">
      PLATFORM:
    </span>
    <%= @app_version.platform&.upcase %>
  </p>
  <p>
    <span class="app-version-details__label">
      CATEGORY:
    </span>
    <%= @app_version.category&.titleize %>
  </p>
  <p>
    <span class="app-version-details__label">
      CREATED BY:
    </span>
    <%= @app_version.created_by&.titleize %>
  </p>
  <hr></hr>
  <div class="app-version-details__features">
    <h5>FEATURES</h5>
    <% @app_version.features.each do |feature| %>
      <p>
        <span class="app-version-details__features__label">
          TITLE:
        </span>
        <%= feature.title.titleize %>
      </p>
      <p>
        <span class="app-version-details__features__label">
          DETAILS:
        </span>
        <%= feature.details %>
      </p>
    <% end %>
  </div>
  <hr>
  <%= link_to 'Edit', edit_admin_app_version_path(@app_version), class: 'app-version-btn edit' %>
  <%= link_to 'Delete', admin_app_version_path(@app_version), class: 'app-version-btn delete', method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
</div>
