$default-blue: #38B4B3;
$default-green: #70DF95;
$default-gray: #B7B7B7;
$default-light-gray: #d3d5d5;

.padding-0{ padding: 0 !important }

.flash{ margin-bottom: 0 !important }

.ionicons-default{
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-bar .title-area .name img{ width: 120px }

.side-nav{
  li{
    background-color: #ECF8FA;
    margin: 0 !important;
    padding: 5px 25px;
    border-bottom: 1px solid #CCCCCC;
    span{
      padding: 0.4375rem 0.875rem;
      display: block;
    }
    &.has-dropdown{
      position: relative;
      &:before{
        content: "\f104";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.875rem;
        color: $default-blue;
        @extend .ionicons-default
      }
      &.current:before{ content: "\f10d" }
      &.show-menu{
        &:before { content: "\f10d" }
        + ul.sub-menu{ height: auto }
      }
      &.current{
        cursor: pointer;
        + ul.sub-menu{
          height: auto;
        }
        &.has-dropdown.close-menu {
          &:before { content: "\f104" }
          + ul.sub-menu{ height: 0 }
        }
      }
    }
    a:not(.button):hover,
    a:not(.button):focus{ background: transparent !important }
  }
  ul.sub-menu{
    height: 0;
    overflow: hidden;
    margin: 0;
    list-style: none;
    li{ padding-left: 70px }
  }
}
.center-content {
  text-align: center;
}

.photos-grid{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background:{
    size: cover;
    position: 50% 50%;
    repeat: no-repeat;
  }
  a{
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
  }
}

.divider{
  background-color: $default-blue;
  height: 35px;
}

.layout-parent-grid{
  display: flex;
  align-items: stretch;
  .sidebar-container{
    width: 330px;
    background-color: #ECF8FA;
  }
  .layout-container{
    width: 100%;
    padding: 20px;
  }
}

h5.header{
  color: $default-blue;
  background-color: #EFEFEF;
  padding: 10px 20px;
  font-weight: bold;
  margin: 0 0 15px;
}
a.admin-btn{
  &.export{
    background-color: $default-blue;
    &:after { content: "\f13a" }
  }
  &.new{
    background-color: $default-green;
    &:after { content: "\f216" }
  }
  position: relative;
  color: #FFFFFF;
  padding: 10px 40px 10px 15px;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 15px;
  &:after{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    line-height: 0;
    font-size: 20px;
    @extend .ionicons-default;
  }
}

.tabs.admin-tab .tab-title{
  &.active a {
    background-color: $default-blue;
    color: #FFFFFF;
  }
  > a{
    background-color: $default-gray;
    color: #FFFFFF;
    padding: 10px 40px;
    margin: 0 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }
}

.tabs-content{
  table{
    thead{
      background-color: #EFEFEF;
      tr th{
        color: #6F6F6F;
      }
    }
    tr td:last-of-type a{
      background-color: $default-blue;
      padding: 5px 23px;
      border-radius: 6px;
      color: #FFFFFF;
      font-size: 10px;
      font-weight: bold;
      line-height: normal
    }
  }
}

.admin-show-table{
  tr td:first-of-type{
    color: $default-blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    width: 160px;
  }
}

.admin-search-bar{
  display: inline-block;
  border-radius: 6px;
  border: 1px solid $default-blue;
  max-width: 500px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  &:before{
    content: "\f4a4";
    @extend .ionicons-default;
    color: $default-blue;
  }
  input[type='text']{
    border: none;
    box-shadow: none;
    background-color: transparent;
    margin: 4px 0;
    padding: 0;
    height: auto;
    font-size: 15px;
    margin-left: 10px;
  }
}

table{
  &.clean{
    border: none;
    margin: 0;
    width: 100%;
  }
  &.draft-schedules{
    border-color: $default-blue;
    border-bottom: none;
    border-spacing: 0;
    td{ background-color: #FFFFFF }
    td:first-of-type,
    th{ background-color: #ECF8FA }
    th,td{
      border-bottom: 1px solid $default-blue;
      &:first-of-type{ border-right: 1px solid $default-blue }
    }
  }
}

.admin-custom-btn{
  padding: 5px 23px;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  line-height: normal;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 100px;
  &.edit{ background-color: $default-green }
  &.alert{ background-color: #ec5840 }
  &.success{ background-color: $default-blue }
}

.location-container{
  max-width: 300px;
  display: inline-block;
  background-color: #f9f9f9;
  margin-right: 20px;
  span.title{
    background-color: #EFEFEF;
    display: block;
    margin-bottom: 10px;
    line-height: normal;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
  }
  form.admin-location-search{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 10px;
    ::-webkit-input-placeholder{
      color: $default-blue;
    }
    .search-container{
      width: 100%;
      border: 1px solid $default-gray;
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &:before{
        color: $default-blue;
        content: "\f4a4";
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.4em;
        margin-left: 5px;
      }
    }
    input[type="text"]{
      border: none;
      box-shadow: none;
      background-color: transparent;
      margin: 0;
      padding: 5px 10px;
      height: auto;
    }
    input, select{
      color: $default-blue;
      border-radius: 5px;
      outline: none;
      padding: 5px 10px;
      height: auto;
    }
    label{
      width: 100%;
      margin-bottom: 5px;
    }
    select{
      width: 49%;
    }
  }
  div#locationLists{
    ul{
      margin: 0;
      list-style: none;
      li{
        padding: 5px 15px;
        a{
          color: #000000;
        }
        &.active{
          background-color: $default-blue;
          a{ color: #FFFFFF; }
        }
      }
    }
  }
  nav.pagination{
    background-color: #EFEFEF;
    padding: 12px;
    text-align: center;
    span{
      position: relative;
      display: inline-block;
      margin: 0 2px;
      vertical-align: middle;
      &:before, &:after{
        color: $default-blue;
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      &.prev:before{
        content: "\f107";
      }
      &.next:after{
        content: "\f10a";
      }
      &.first, &.last, &.prev, &.next{ font-size: 0 }
      &.prev a, &.next a{
        position: absolute;
        width: 8px;
        height: 20px;
      }
      &.prev a{ left: 0 }
      &.next a{ right: 0 }
    }
  }
}

.location-form-container{
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
  h5{
    color: $default-blue;
    margin-bottom: 20px;
  }
  input[type="text"], select{
    outline: none;
    color: $default-blue;
    border-radius: 5px;
    border-color: $default-blue;
    padding: 5px 10px;
    height: auto;
  }
  input[type="submit"]{
    background-color: #70DF95;
    color: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    outline: none;
    line-height: normal;
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    cursor: pointer;
  }
}

.gm-style-iw {
  width: 380px !important;
  top: 20px !important;
  left: 30px !important;
  border-radius: 2px 2px 0 0;
}

.map-clinic-details-container{
  background-color: $default-blue;
  min-width: 330px;
  h1{
    font-size: 1.4em;
    color: #FFFFFF;
    border-bottom: 1px solid;
    padding: 10px 20px;
    margin: 0;
  }
  table{
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    tr, tr:nth-of-type(even){
      background: transparent;
      td{
        color: #FFFFFF;
        vertical-align: top;
        &:first-of-type{ padding-left: 20px }
        &:last-of-type{ padding-right: 20px }
      }
    }
  }
  .dentists{
    padding: 10px 20px;
    label{
      display: inline-block;
      vertical-align: top;
      color: #FFFFFF;
      margin-right: 1em;
    }
    ul{
      list-style: none;
      margin: 0;
      display: inline-block;
      vertical-align: top;
      color: #FFFFFF;
      li{
        margin: 7px 0;
        .dentist-image{
          height: 50px;
          width: 50px;
          display: inline-block;
          border-radius: 100%;
          vertical-align: middle;
          margin-right: 10px;
          background-size: contain;
          background-position: center center;
        }
        span{
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

.landing-page-container{
  background-image: asset-url('success-password-change.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  .logo-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    .logo{
      align-self: center;
    }
    .text{
      text-align: center;
      font-size: 1.3rem;
      font-weight: bold;
      margin-top: 20px;
      color: $default-blue;
    }
  }
}

$croppable-image-thumbnail-width: 300px;
$croppable-image-thumbnail-height: 168px;

.croppable-image-thumbnail {
  border: 2px solid $default-light-gray;
  border-radius: 10px;
  height: $croppable-image-thumbnail-height;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: $croppable-image-thumbnail-width;

  a {
    background-color: $default-light-gray;
    border-radius: 10px;
    bottom: 5px;
    color: #fff;
    font-size: 12px;
    height: $croppable-image-thumbnail-height * .11;
    position: absolute;
    right: 5px;
    text-align: center;
    width: $croppable-image-thumbnail-width * .2;
  }
}

  // cropper.js img style requirement
#croppable-container {
  display: none;
  img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
  }
  #croppable-actions {
    position: relative;
    padding-top: 20px;
    a {
      background-color: $default-blue;
      border-radius: 10px;
      color: #fff;
      display: table-cell;
      font-size: 11px;
      height: $croppable-image-thumbnail-height * .2;
      text-align: center;
      vertical-align: middle;
      width: $croppable-image-thumbnail-width * .4;
      &#croppable-cancel {
        background-color: $default-light-gray;
        color: #fff;
      }
    }
  }
}

.change-pw-form-container{
  display: inline-block;
  vertical-align: top;
  max-width: 400px;;
  p{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 30px;
  }
  input[type="text"], select{
    outline: none;
    color: $default-blue;
    border-radius: 5px;
    border-color: $default-blue;
    padding: 5px 10px;
    height: auto;
  }
  input[type="submit"]{
    background-color: $default-blue;
    color: #FFFFFF;
    font-size: 12px;
    border-style: none;
    box-shadow: none;
    outline: none;
    line-height: normal;
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
  }
}

.edit-password-logo {
  color: #FFFFFF;
  display: block;
  font-weight: normal;
  padding: 0 0.9375rem;
}

.flex-kit{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-items: center;
}

.inline-flex-form-group {
  @extend .flex-kit;
  margin: 0;
  list-style: none;

  input[type="text"], select{
    outline: none;
    color: $default-blue;
    border-radius: 5px;
    border-color: $default-blue;
    padding: 5px 10px;
    margin-right: 20px;
    height: 30px;
  }
  li > .button {
    background-color: #3adb76;
    width: 160px;
    border-radius: 30px;
    margin: 5px 20px 0;
    outline: none;
  }
  li:not(:last-of-type) {
    flex: auto;
    margin-left: 20px;
    width: inherit;
    margin-right: 30px;
  }
}

@mixin set-position($position: static, $top: auto, $left: auto, $bottom: auto, $right: auto) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

.features-wrapper {
  .features__container {
    @extend .flex-kit;
    width: 280px;
    background: #FAFAFA;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    .remove-features-btn{
      display: inline-block;
      color: $default-light-gray;
      background: transparent;
      margin-top: -10px;
      margin-right: -15px;
      font-size: 12px;
      width: 12px;
      height: 12px;
      float: right;
      margin-bottom: 10px;
      @include set_position(
        $position: absolute,
        $right: 5px
      )
    }
    .features__container__input{
      width: 15vw;
      overflow-y: unset;
      margin: 10px 10px 0px 10px;
      input[type="text"]{
        outline: none;
        border-radius: 5px;
        border-color: $default-blue;
        padding: 5px 10px;
        margin-right: 20px;
        height: 30px;
        width: 250px;
      }
      .features__container__input__details{
        min-height: 80px;
        max-width: 250px;
        min-width: 250px;
        outline: none;
        border-radius: 5px;
        border-color: $default-blue;
        padding: 5px 10px;
        margin-right: 20px;
      }
    }
  }
}

.version-header {
  background-color: #EFEFEF;
  padding: 5px 10px 5px 10px;
  margin-bottom: 1em;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  h5 {
    color: $default-blue;
    background-color: #EFEFEF;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
  }
  form {
    display: inline-block;
    float: right;
    width: 150px;
    position: relative;
    &:after {
      content: '\f4a5';
      display: inline-block;
      font-family: 'Ionicons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 7px;
      font-size: 1.5em;
      color: #d6d6d6;
    }
    input[type='text'] {
      width: 100%;
      display: inline-block;
      margin: 5px 0;
      border-radius: 10px;
      height: 30px;
      padding: 6px 5px 6px 30px;
      border-style: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.feature-header {
  background-color: #EFEFEF;
  padding: 5px 10px 5px 10px;
  width: 280px;
  margin-top: 10px;
  margin-bottom: 20px;
  h6 {
    margin-top: 5px;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
  }
  button{
    display: inline-block;
    float: right;
    padding: 10px 5px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    width: 100%;
    max-width: 100px;
    background-color: $default-green;
  }
}

.app-version-btn {
  color: #FFFFFF;
  border-radius: 5px !important;
  border-style: none;
  box-shadow: none;
  outline: none;
  line-height: normal;
  width: 130px;
  padding: 8px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
  &.edit{ background-color: $default-blue }
  &.delete{ background-color: #ec5840 }
}

.app-version-table {
  margin-top: 50px;
  width: 100%;
  border: none;
}
