<table class="clean">
  <thead>
    <tr>
      <th width="100">Clinic</th>
      <th width="100">Secretary</th>
      <th width="100">Dentist</th>
      <th width="100">Submitted at</th>
      <th width="100">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_partner_signups.each do |partner_signup| %>
      <tr>
        <td>
          <p>
            <strong>Logo: </strong>
            <% if partner_signup.clinic_logo.present? %>
              <%= image_tag partner_signup.clinic_logo.url(:thumb) %>
            <% else %>
              N/A
            <% end %>
          </p>
          <% partner_signup.clinic_object.each_pair do |k, v|  %>
            <p>
              <strong> <%= k.to_s.gsub(/_/, ' ').capitalize %> </strong>:
              <%= v %>
            </p>
          <% end %>
        </td>
        <td>
          <p>
            <strong>Avatar: </strong>
            <% if partner_signup.secretary_avatar.present? %>
              <%= image_tag partner_signup.secretary_avatar.url(:thumb) %>
            <% else %>
              N/A
            <% end %>
          </p>
          <% partner_signup.secretary_object.each_pair do |k, v|  %>
            <p>
              <strong> <%= k.to_s.gsub(/_/, ' ').capitalize %> </strong>:
              <%= v %>
            </p>
          <% end %>
        </td>
        <td>
          <p>
            <strong>Avatar: </strong>
            <% if partner_signup.dentist_avatar.present? %>
              <%= image_tag partner_signup.dentist_avatar.url(:thumb) %>
            <% else %>
              N/A
            <% end %>
          </p>
          <% partner_signup.dentist_object.each_pair do |k, v|  %>
            <p>
              <strong> <%= k.to_s.gsub(/_/, ' ').capitalize %> </strong>:
              <%= v %>
            </p>
          <% end %>
        </td>
        <td>
          <p>
            <small><%= prettify_submission_date(partner_signup.created_at) %></small>
          </p>
        </td>
        <td>
          <% if partner_signup.pending? %>
            <%= link_to 'Approve', admin_partner_signup_path(partner_signup, status: "approved"), method: :put, class: 'admin-custom-btn edit' %>
            <%= link_to 'Decline', admin_partner_signup_path(partner_signup, status: "declined"), method: :put, class: 'admin-custom-btn alert' %>
          <% else %>
            <%= partner_signup.status %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
