<% content_for :title, 'Partner Signups' %>

<h5 class="header">Partner Signups</h5>

<div id="partnerSignupLists">
  <%= render 'partner_signups' %>
</div>
<div id="paginator">
  <%= paginate @admin_partner_signups, remote: true %>
</div>
