<h5 id="cityName"><%= @cities.first.name %></h5>

<%= form_tag admin_city_path(@cities.first.id), method: :put, id: "dynamicCityForm" do  %>
  <label>Region</label>
  <%= select_tag 'admin_city[region]', options_from_collection_for_select(@regions, "id", "name") %>
  <label>Province</label>
  <%= select_tag 'admin_city[province_id]', options_from_collection_for_select(@provinces, "id", "name") %>
  <label>City label</label>
  <%= text_field_tag 'admin_city[name]', @cities.first.name, autocomplete: :off %> 
  <%= hidden_field_tag 'admin_city[id]', @cities.first.id %>
  <%= submit_tag "UPDATE" %>
<% end %>
