<ul>
  <% @cities.each do |c| %>
    <li><%= link_to c.name, "#", "data-city" => c.name, "data-city-id" => c.id %></li>
  <% end %>
</ul>
<script type="text/javascript" charset="utf-8">
  $('[data-city]').on('click',function(){
    $(this).parent('li').parent('ul').children().removeClass('active');
    $(this).parent('li').addClass('active');
    document.getElementById("dynamicCityForm").setAttribute("action", "<%= admin_cities_path %>/"+$(this).attr("data-city-id"));
    document.getElementById("admin_city_name").value = $(this).attr("data-city");
    document.getElementById("admin_city_id").value = $(this).attr("data-city-id");
    document.getElementById("cityName").innerHTML = $(this).attr("data-city");
    return false;
  })
</script>
