<% content_for :title, 'Location Editor' %>

<h5 class="header">Locations</h5>

<div class="location-container">
  <span class="title">CITIES</span>
  <%= form_tag admin_cities_path, method: :get, remote: true, class: "admin-location-search" do %>
    <div class="search-container">
      <%= text_field_tag :q, nil, placeholder: "Search" %>
    </div>
    <label>Filter</label>
    <%= select_tag :region, options_from_collection_for_select(@regions, "id", "name") %>
    <%= select_tag :province, options_from_collection_for_select(@provinces, "id", "name") %>
  <% end %>

  <div id="locationLists">
    <%= render 'locations' %>
  </div>
  <div id="paginator">
    <%= paginate @cities, remote: true %>
  </div>
</div>

<div class="location-form-container">
  <%= render "form" %>
</div>

<script type="text/javascript" charset="utf-8">
  $('#region').on('change',function() { 
    var region_id = $(this).val();
    $.ajax({
      type: "GET",
      url: "<%= admin_location_provinces_path %>",
      data: "region="+region_id+"",
      dataType: "JSON" 
    }).success(function(json){
      $('#province, #admin_city_province_id').html("");
      $('#admin_city_region').val(region_id);
      for (var arr in json) {
        $('#province, #admin_city_province_id').append("<option value='"+json[arr]['id']+"'>"+json[arr]['name']+"</option>")
      }  
    });
    return false; // prevents normal behaviour
  });

$('#admin_city_region').on('change',function() { 
  $.ajax({
    type: "GET",
    url: "<%= admin_location_provinces_path %>",
    data: "region="+$(this).val()+"",
    dataType: "JSON" 
  }).success(function(json){
    $('#admin_city_province_id').html("");
    for (var arr in json) {
      $('#admin_city_province_id').append("<option value='"+json[arr]['id']+"'>"+json[arr]['name']+"</option>")
    }  
  });
  return false; // prevents normal behaviour
});

$('#province').on('change', function(){
  $('#admin_city_province_id').val($(this).val());
  $(this).closest("form").submit();
});
</script>
