<%= form_for [:admin, @patient] do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% @patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :avatar, value: nil, id: 'encoded_file_field' %>

  <%= render partial: "shared/croppable_avatar", locals: { avatar_source: @patient  } %>

  <hr />

  <div class="row">
    <div class="small-12 large-12 columns">
      <%= f.file_field :avatar %>
      <small>NOTE: Photo should have square dimension and atleast be 800px in width.</small>
    </div>
  </div>

  <br>

  <label>
    First Name: <%= f.text_field :first_name %>
  </label>

  <label>
    Last Name: <%= f.text_field :last_name %>
  </label>

  <label>
    Email: <%= f.text_field :email %>
  </label>

  <label>
    Password: <%= f.password_field :password %>
  </label>

  <label>
    Password Confirmation: <%= f.password_field :password_confirmation %>
  </label>

  <label>
    Mobile #: <%= f.text_field :mobile_number %>
  </label>

  <label>
    Birthdate: <%= f.date_field :birthdate, value: @patient.birthdate.try(:to_date) %>
  </label>

  <div class="actions">
    <%= f.submit 'Submit', class: 'button'%>
  </div>
<% end %>
