<table class="clean">
  <thead>
    <tr>
      <th width="<%= user_avatar_default_dimension %>"></th>
      <th width="300">Name</th>
      <th width="100">Email</th>
      <th width="100">Mobile Number</th>
      <th width="100">Activation Code</th>
      <th width="100"></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td>
          <%= image_tag patient.avatar.url, width: user_avatar_default_dimension, height: user_avatar_default_dimension %>
        </td>
        <td> <%= "#{patient.first_name} #{patient.last_name}" %> </td>
        <td> <%= patient.email %> </td>
        <td> <%= patient.mobile_number %></td>
        <td style="vertical-align: middle;">
          <%= patient.activations.last.code %>
          <% unless patient.activated? %>
            <br>
            <small>
              <%= link_to('Resend', admin_resend_user_code_path(patient), method: :post) %>
            </small>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_patient_path(patient), class: 'admin-custom-btn edit' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
