<% content_for :title, 'Patients' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Patients</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_patient_path, class: 'admin-btn new' %></small>
  <%= link_to "EXPORT TO CSV", admin_patients_path(format: "csv"), class: 'admin-btn export' %>
</div>

<%= form_tag admin_patients_path, method: :get, remote: true, class: "admin-search-bar" do %>
  <%= text_field_tag :q, nil, placeholder: "Search" %>
<% end %>

<div id="patientLists">
  <%= render 'patients' %>
</div>
<div id="paginator">
  <%= paginate @patients, remote: true %>
</div>
