<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#weeklyTab">Weekly</a></li>
  <li class="tab-title"><a href="#monthlyTab">Monthly</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="weeklyTab">
    <%= line_chart @patients.group_by_week("users.created_at", week_start: :mon).count, label: "Patients", xtitle: "Week", ytitle: "Patients" %>
  </div>
  <div class="content" id="monthlyTab">
    <%= line_chart @patients.group_by_month("users.created_at").count, label: "Patients", xtitle: "Month", ytitle: "Patients" %>
  </div>
</div>
