<p id="notice"><%= notice %></p>

<label>
  Name: <%= "#{@patient.first_name} #{@patient.last_name}" %>
</label>

<label>
  Email: <%= @patient.email %>
</label>

<label>
  Mobile #: <%= @patient.mobile_number %>
</label>

<label>
  Birthdate: <%= @patient.birthdate %>
</label>
