<table class="clean">
  <thead>
    <tr>
      <th width="<%= user_avatar_default_dimension %>"></th>
      <th width="300">Name</th>
      <th width="100">Address</th>
      <th width="50">Lat</th>
      <th width="50">Lng</th>
      <th width="150">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @clinics.each do |clinic| %>
    <tr>
    <td>
      <%= image_tag clinic.logo.url, width: user_avatar_default_dimension, height: user_avatar_default_dimension %>
    </td>
    <td> <%= clinic.name %> </td>
    <td> <%= clinic.address %> </td>
    <td> <%= clinic.lat %> </td>
    <td> <%= clinic.lng %> </td>
    <td>
      <%= link_to 'Edit', edit_admin_clinic_path(clinic), class: 'admin-custom-btn edit' %>
      <%= link_to 'Delete', admin_clinic_path(clinic), class: 'admin-custom-btn alert', method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
