<%= form_for [:admin, @clinic], multipart: true do |f| %>
  <% if @clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
        <% @clinic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label>
    Logo:
    <% if @clinic.logo.present? %>
      <%= image_tag @clinic.logo.url, width: 100 %>
      <br>
      <br>
    <% end %>
    <%= f.file_field :logo %>
  </label>
  <label>
    NOTE: Photo should have square dimension and atleast be 800px in width.
  </label>
  <br>

  <label>
    Name: <%= f.text_field :name %>
</label>

<label>
  Address: <%= f.text_field :address %>
  </label>

  <label>
    Parking Slot: <%= f.text_field :parking_slot %>
</label>

  <label>
    Mobile Number: <%= f.text_field :mobile_number %>
</label>

<label>
  Lat: <%= f.text_field :lat %>
  </label>

  <label>
    Lng: <%= f.text_field :lng %>
</label>

<label>
  City: <%= f.select :city_id, city_choices %>
  </label>

  <hr>
  <h4>Services</h4>

  <%= hidden_field_tag "clinic[service_ids][]", nil %>
  <% Service.all.each do |service| %>
    <%= check_box_tag "clinic[service_ids][]", service.id, @clinic.services.include?(service), id: dom_id(service) %>
    <%= label_tag dom_id(service), service.name %> <br>
  <% end%>

  <hr>
  <h4>Photos</h4>
  <label>
    NOTE: Photo should have square dimension and atleast be 800px in width.
  </label>
  <br>
  <% if @clinic.photos.blank? %>
    <p>No clinic photos.</p>
  <% else %>
    <% @clinic.photos.map do |photo| %>
      <div style="background-image:url(<%= photo.image.url(:medium) %>)" class="photos-grid">
        <%= link_to 'X', admin_photo_path(photo),
          data: { confirm: 'Are you sure?' },
          method: :delete, remote: true,
          class: "destroy-photo" %>
      </div>
    <% end %>
  <% end %>
  <hr>
  <%= file_field_tag "images[]", type: :file, multiple: true %>

  <%= f.submit 'Submit', class: 'button' %>
<% end %>
