<% content_for :title, 'Clinics' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Clinics</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_clinic_path, class: 'admin-btn new' %></small>
  <%= link_to "EXPORT TO CSV", admin_clinics_path(format: "csv", type: "all"), class: 'admin-btn export' %>
  <%= link_to "EXPORT TO CSV [Activated]", admin_clinics_path(format: "csv", type: "activated"), id: 'Test1', class: 'admin-btn export' %>
</div>

<%= form_tag admin_clinics_path, method: :get, remote: true, class: "admin-search-bar" do %>
    <%= text_field_tag :q, nil, placeholder: "Enter clinic's name here..." %>
<% end %>

<div id="clinicLists">
  <%= render 'clinics' %>
</div>
<div id="paginator">
  <%= paginate @clinics, remote: true %>
</div>
