<div id="map" style="height: 100%"></div>

<script>
var clinics = [
  <% @clinics.each do |clinic| %>
  {
    name:     "<%= clinic[0] %>",
    mobile:   "<%= clinic[1] %>",
    address:  "<%= clinic[2] %>",
    lat:      "<%= clinic[3] %>",
    lng:      "<%= clinic[4] %>",
    logo:     "<%= clinic[5] %>",
    dentists: [
      <% clinic[6].each do |dentist| %>
        {
          avatar: "<%= dentist[0] %>",
          name:   "<%= dentist[1] %>"
        },
      <% end %>
    ]
  },
  <% end %>
];
// This example displays a marker at the center of Australia.
// When the user clicks the marker, an info window opens.

function initMap() {
 
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: {lat: 14.6041051, lng: 121.0167159}
  });
  
  var infowindow = new google.maps.InfoWindow();
  var marker, i, stringContent, d, lists;

  for (i = 0; i < clinics.length; i++) {
    var icon = {
      url: clinics[i]["logo"], // url
      scaledSize: new google.maps.Size(30, 30), // scaled size
      origin: new google.maps.Point(0,0), // origin
      anchor: new google.maps.Point(0, 0) // anchor
    };
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(clinics[i]["lat"],clinics[i]["lng"]),
      map: map,
      icon: icon,
      title: clinics[i]["name"]
    });
    marker.setMap(map);
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
          lists = '';
          for (d = 0; d < clinics[i]["dentists"].length; d++) {
            lists += '<li>';
            lists += '<div class="dentist-image" style="background-image:url('+clinics[i]["dentists"][d]["avatar"]+')"></div>';
            lists += '<span>'+clinics[i]["dentists"][d]["name"]+'</span>';
            lists += '</li>';
          }
        stringContent = '<div class="map-clinic-details-container">'+
                          '<h1>'+clinics[i]["name"]+'</h1>'+
                          '<table>'+
                            '<tr>'+
                              '<td>Tel No:</td>'+
                              '<td>'+clinics[i]["mobile"]+'</td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td>Address:</td>'+
                              '<td>'+clinics[i]["address"]+'</td>'+
                            '</tr>'+
                          '</table>'+
                          '<div class="dentists">'+
                            '<label>Dentists:</label>'+
                            '<ul>'+
                             lists+
                            '</ul>'+
                          '</div>'+
                        '</div>';
        infowindow.setContent(stringContent);
        infowindow.open(map, marker);

        var iwOuter = $('.gm-style-iw');

        var iwBackground = iwOuter.prev();
        iwBackground.children(':nth-child(2)').css({'display' : 'none'});
        iwBackground.children(':nth-child(4)').css({'display' : 'none'});
        iwBackground.children(':nth-child(3)').children(':first-of-type').children().css({'background-color': '#38B4B3','box-shadow':'none'})
        iwBackground.children(':nth-child(3)').children(':last-of-type').children().css({'background-color': '#38B4B3','box-shadow':'none'})
        var iwCloseBtn = iwOuter.next();
        iwCloseBtn.css({
          opacity: '1',
          right: '27px',
          top: '25px',
        });

        iwCloseBtn.mouseout(function(){
          $(this).css({opacity: '1'});
        });
      }
    })(marker, i));
  }
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap"></script>
