<table class="clean">
  <thead>
    <tr>
      <th width="">Classification</th>
      <th width="">Requester</th>
      <th width="">Details</th>
      <th width="100">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_drafts.each do |draft| %>
      <tr>
        <td><%= draft.classification %></td>
        <td>
          <p>
            <%= draft.owner.name %><br>
            <small><%= prettify_submission_date(draft.created_at) %></small>
          </p>
        </td>
        <td>
          <p>
            <strong>Avatar: </strong>
            <% if draft.photos.present? %>
              <%= image_tag draft.photos.last.image.url(:thumb) %>
            <% else %>
              N/A
            <% end %>
          </p>
          <p><strong>Dentist: </strong><%= draft.dentist.name %></p>
          <p><strong>Clinic numbers: </strong><%= draft.dentist.clinics.pluck(:mobile_number).join(', ') %></p>
          <p><strong>Email: </strong><%= draft.dentist.email %></p>
          <% draft.object.slice(:license_number, :experience, :fee, :specialties, :hmos, :services, :schedules).each do |obj| %>
            <%= display_as(obj) %>
          <% end %>
        </td>
        <td>
          <% if draft.pending? %>
            <%= link_to 'Approve', admin_draft_path(draft, status: "approved"), method: :put, class: 'admin-custom-btn edit' %>
            <%= link_to 'Decline', admin_draft_path(draft, status: "declined"), method: :put, class: 'admin-custom-btn alert' %>
          <% else %>
            <%= draft.status %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
