<% content_for :title, 'Drafts' %>

<h5 class="header">Drafts</h5>

<%= form_tag admin_drafts_path, method: :get, remote: true, class: "admin-search-bar" do %>
  <%= text_field_tag :q, nil, placeholder: "Search" %>
<% end %>

<div id="draftLists">
  <%= render 'drafts' %>
</div>
<div id="paginator">
  <%= paginate @admin_drafts, remote: true %>
</div>
