$default-blue: #38B4B3;

.landing-page-container{
  background-image: asset-url('success-password-change.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  .logo-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    .logo{
      align-self: center;
    }
    .text{
      text-align: center;
      font-size: 1.3rem;
      font-weight: bold;
      margin-top: 20px;
      color: $default-blue;
    }
  }
}

