$green-color: #37B5B3;

@font-face {
  font-family:'AvenirNext';
  src:font-url('AvenirNext-Regular.ttf');
  src:font-url('AvenirNext-Regular.ttf') format('truetype')
}

.header-color {
  color: $green-color
}

.bg-color {
  background-color: $green-color
}
.accordion .accordion-navigation > a {
  &.custom {
    background: transparent;
    border-bottom: 1px solid;
    border-color: lightgray;
    font-family: AvenirNext
  }
}

.button.radius {
    border-radius: 3px;
    font-family: AvenirNext;
}
