table.tmpi > tbody > tr {
  & > th:first-child {
    background-color: #f0f0f0;
  }

  td .hours-remaining {
    color: #46bebd;
    margin-left: 10pt;
    text-align: left;
  }

  td {
    text-align: left;
    vertical-align: middle;
    a {
      color: #46bebd;
    }
  }
}
