<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Open+Sans:300,400" rel="stylesheet">
  <style type="text/css" media="screen">
    html, body{
      height: 100%;
      padding: 0;
      margin: 0;
    }
    body{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    *{
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
    }
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2em;
    }
    nav .logo img{ width: 200px }
    nav .faq-helpdesk{ color: #01A2BE }
    nav .faq-helpdesk a{
      text-decoration: none;
      color: #01A2BE;
    }
    .mail-container{
      height: 100%;
      background-color: #FFFFFF;
      max-width: 700px;
      margin: 0 auto;
      padding: 50px 90px;
      box-sizing: border-box;
      text-align: center;
    }
    .btn{
      font-family: 'Montserrat', sans-serif;
      width: 85%;
      background-color: #6db4c8;
      color: #FFFFFF;
      line-height: normal;
      text-decoration: none;
      padding: 20px 25px;
      display: inline-block;
      border-radius: 10px;
      margin: 1em 1em 3em 1em;
    }
    .top-bar {
      margin: 0px auto;
      height: 20px;
      background: #6db4c8;
      width: inherit;
      max-width: 700px;
    }
    h2{
      font-weight: 900;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      margin: 1em 0;
    }
    p.text{
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    p.text a{
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #01A2BE;
      text-decoration: none;
    }
    .getting-started {
      font-family: 'Open Sans', sans-serif;
      padding: 30px;
      margin-top: 50px;
      font-weight: 400;
      margin-bottom: 50px;
      background: #73ccbc;
      color: #ffffff;
    }
    .email {
      color: #fff;
      font-weight: 600;
      font-size: 1.3em;
      bottom: 10px;
      right: 10px;
      text-decoration: none;
    }
    .hr {
      display: block;
      margin: 10px auto;
      width: 100%;
      height: 3px;
      background: #d3d3d3;
    }
    footer{ color: #01A2BE }
  </style>
</head>
<body>
<div class="top-bar"></div>
<div class="mail-container">

  <%= render "shared/mailer/nav_logo" %>

  <h2>Hi, <%= @resource.first_name %>!</h2>

  <p class="text">Someone has requested a link to change your password. </p>
  <p class="text">You can do this through the link below. </p>
  <%= link_to 'LINK', edit_password_url(@resource, reset_password_token: @token), class: "btn" %>
  <p class="text">If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one. </p>

  <div class="getting-started">
    Don't forget to share the app to your friends! If you have comments on how we can improve the service, feel free to email us at</p>
    <a href="mailto:dentaskedph@gmail.com" class="email" target="_top">dentaskedph@gmail.com</a>
  </div>

  <%= render "shared/mailer/footer" %>

</div>
</body>
</html>
