<%= form_for [:admin, @user], url: admin_user_path do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this dentist from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :avatar, value: nil, id: 'encoded_file_field' %>

  <%= render partial: "shared/croppable_avatar", locals: { avatar_source: @user } %>

  <hr />

  <div class="row">
    <div class="small-12 large-12 columns">
      <%= f.file_field :avatar %>
      <small>NOTE: Photo should have square dimension and atleast be 800px in width.</small>
    </div>
  </div>

  <br>

  <label>
    First Name: <%= f.text_field :first_name %>
  </label>

  <label>
    Last Name: <%= f.text_field :last_name %>
  </label>

  <label>
    Email: <%= f.text_field :email %>
  </label>

  <label>
    Mobile #: <%= f.text_field :mobile_number %>
  </label>

  <label>
    Birthdate: <%= f.date_field :birthdate, value: @user.birthdate.try(:to_date) %>
  </label>

  <hr>
  <h4>Roles</h4>
  <% for role in Role.all %>
    <label>
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
      <%= role.name.titleize %><br />
    </label>
  <% end %>
  <br>

  <hr>
  <h4>Photos</h4>
  <label>
    NOTE: Photo should have square dimension and at least be 800px in width.
  </label>
  <br>

  <% if @user.photos.blank? %>
    <p>No user photos uploaded yet, add one now?</p>
  <% else %>
    <% @user.photos.map do |photo| %>
      <div style="background-image:url(<%= photo.image.url(:medium) %>)" class="photos-grid">
        <%= link_to 'X', admin_photo_path(photo),
          data: { confirm: 'Are you sure?' },
          method: :delete, remote: true,
          class: "destroy-photo" %>
        </div>
      <% end %>
    <% end %>
    <hr>
    <%= file_field_tag "images[]", type: :file, multiple: true %>

    <div class="actions">
      <%= f.submit 'Submit', class: 'button'%>
    </div>
  <% end %>
