<table class="clean">
  <thead>
    <tr>
      <th width="<%= user_avatar_default_dimension %>"></th>
      <th style="text-align: center;" width="300">Name</th>
      <th width="150">Email</th>
      <th width="150">Role</th>
      <th width="150">Device</th>
      <th width="100">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= image_tag user.avatar.url, width: user_avatar_default_dimension, height: user_avatar_default_dimension %>
        </td>
        <td style="text-align: center;"> <%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user) %> </td>
        <td> <%= user.email %> </td>
        <td> <%= user.roles.map{|r| r.name.titleize}.join(", ") %></td>
        <td>
          <% if user.devices.empty? %>
            <span>n/a</span>
          <% else %>
            <span><%= "#{user.devices.last.name} - #{user.devices.last.platform}" %></span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_user_path(user), class: 'admin-custom-btn edit' %>
          <% if user.enabled? %>
            <%= link_to 'Disable', admin_toggle_user_status_path(user), class: 'admin-custom-btn alert', method: :post %>
          <% else %>
            <%= link_to 'Enable', admin_toggle_user_status_path(user), class: 'admin-custom-btn success', method: :post%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

