<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#weeklyTab">Weekly</a></li>
  <li class="tab-title"><a href="#monthlyTab">Monthly</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="weeklyTab">
    <%= line_chart @app_users.group_by_week(:created_at, week_start: :mon).count, label: "Users", xtitle: "Week", ytitle: "Users" %>
  </div>
  <div class="content" id="monthlyTab">
    <%= line_chart @app_users.group_by_month(:created_at).count, label: "Users", xtitle: "Month", ytitle: "Users" %>
  </div>
</div>
