<% content_for :title, 'Users' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Users</h5>
<div class="right">
  <%= link_to "EXPORT TO CSV", admin_users_path(format: "csv"), class: 'admin-btn export' %>
</div>

<%= form_tag admin_users_path, method: :get, remote: true, class: "admin-search-bar" do %>
  <%= text_field_tag :q, nil, placeholder: "Search" %>
<% end %>

<div id="userLists">
  <%= render 'users' %>
</div>
<div id="paginator">
  <%= paginate @users, remote: true %>
</div>
