<p id="notice"><%= notice %></p>

<%= image_tag @user.avatar.url(:thumb) %>

<label>
  Name: <%= "#{@user.first_name} #{@user.last_name}" %>
</label>

<label>
  Email: <%= @user.email %>
</label>

<label>
  Mobile #: <%= @user.mobile_number %>
</label>

<label>
  Birthdate: <%= @user.birthdate %>
</label>

<label>
  Roles: <%= @user.roles.join(', ') %>
</label>
