<% content_for :title, 'Follow Ups' %>
<% if @appointments.empty? %>
  <p>There are no appointments to follow up.</p>
<% else %>
  <% @appointments.each do |date, appointments| %>
    <div class="row">
      <h3><%= date %></h3>
    </div>
    <div class="row">
      <% appointments.each do |appointment| %>
        <div class="large-12 medium-12 small-12 columns">
          <table class="tmpi" id='<%= appointment.id.to_s(16) %>'>
            <tbody>
              <tr data-tmpi-toggle>
                <th width="300">CLINIC NAME</th>
                <td width="700"><%= appointment.clinic_assignment.clinic.name %></td>
              </tr>
              <tr data-tmpi-toggle>
                <th width="300">DENTIST NAME</th>
                <td width="700"><%= appointment.dentist.name_with_salutation %></td>
              </tr>
              <tr data-tmpi-toggle>
                <th width="300">PATIENT NAME</th>
                <td width="700"><%= appointment.patient.name %></td>
              </tr>
              <tr data-tmpi-toggle>
                <th width="300">RECEIVED</th>
                <td width="700"><%= default_datetime_format(datetime: appointment.created_at) %></td>
              </tr>
              <tr>
                <th width="300">SECRETARY NAME</th>
                <td width="700"><%= appointment.dentist.secretaries.first.name %></td>
              </tr>
              <tr>
                <th width="300">SECRETARY MOBILE NO.</th>
                <td width="700"><%= appointment.dentist.secretaries.first.mobile_number %></td>
              </tr>
              <tr>
                <th width="300">WILL EXPIRE</th>
                <td width="700"><%= time_diff_to(datetime: appointment.expires_at) %><span class="hours-remaining">Hours remaining</span></td>
              </tr>
              <tr>
                <td colspan="2" width="1000">
                  <span style="float: left;">
                    <%= link_to 'Confirm', tmpi_confirm_path(appointment), method: :post %> | 
                    <%= link_to 'Decline', tmpi_decline_path(appointment), method: :post, data: { confirm: 'Do you really want to decline this appointment?' }%>
                  </span>
                  <span style="float: right;">
                    <a href='#<%= appointment.id.to_s(16) %>' data-tmpi-toggle-link>More</a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
