<%= form_for [:admin, @symptom] do |f| %>
  <% if @symptom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@symptom.errors.count, "error") %> prohibited this symptom from being saved:</h2>

      <ul>
        <% @symptom.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <label>
    Name: <%= f.text_field :name %>
</label>
<%= f.submit 'Submit', class: 'button' %>
<% end %>
