<% content_for :title, 'Symptoms' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Symptoms</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_symptom_path, class: 'admin-btn new' %></small>
  <%= link_to "EXPORT TO CSV", admin_symptoms_path(format: "csv"), class: 'admin-btn export' %>
</div>

<div id="symptomLists">
  <%= render 'symptoms' %>
</div>
<div id="paginator">
  <%= paginate @symptoms, remote: true %>
</div>
