  <li class="accordion-navigation">
    <%= link_to faq.question, "#faq#{faq.id}", class: "custom" %>
    <div id="faq<%= faq.id %>" class="content active">
      <%= faq.answer %>
    </div>
  </li>
