<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Dentasked <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Dentasked">
    <title><%= content_for?(:title) ? yield(:title) : "Dentasked FAQs" %></title>
    <%= favicon_link_tag 'favicon.ico'%>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag("application", :media => "all", "data-turbolinks-track" => true) %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_async_tag("application", "data-turbolinks-track" => true) %>
    <%= csrf_meta_tags %>
    <style>
      html * { font-family:AvenirNext; }
    </style>
  </head>
  <body>
    <br>
    <div class="row">
      <div class="large-12 columns">
        <h1 class="header-color">FAQ</h1>
        <ul class="accordion" data-accordion style="margin: 0">
          <%= render partial: 'faq', collection: @faqs %>
        </ul>
        <br>
        <a href="#" data-reveal-id="myModal" class="radius button expand bg-color">
          GOT ANY FEEDBACK?
        </a>
      </div>
    </div>
    <br/>
    <!-- Modal for Feedback Form  -->
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <%= form_for @feedback, url: submit_feedback_path do |f| %>
        <label>Subject</label> <br>
        <%= f.text_field :subject %>

        <label>Description</label> <br>
        <%= f.text_area :description %>

        <%= f.hidden_field :uid, value: params[:uid] %>

        <%= f.submit 'Submit', class: "radius button bg-color expand"%>
      <% end %>
    </div>
  </body>
</html>
