<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to image_tag('Dentasked-Logo.png'), root_path %>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <% if user_signed_in? %>

        <li class="has-dropdown">
          <a href="#"><%= current_user.email %></a>
          <ul class="dropdown">
            <li>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>

      <% else %>

        <li>
          <%= link_to 'Log in', root_path %>
        </li>

      <% end %>
    </ul>

  </section>
</nav>
<div class="divider"></div>

<% filtered_flash(flash).each do |key, value| %>
  <%= content_tag :div, value, class: "alert-box flash #{key}" %>
<% end %>
