<%= tabs_tag open_tabs: { class: "side-nav padding-0" } do |tab| %>
  <%= tab.drafts 'Dentist Update Requests', admin_drafts_path %>
  <%= tab.partner_signups 'Partner Signup Requests', admin_partner_signups_path %>
  <%= tab.appointments 'Appointments', '#', 'data-toggle-submenu' => '', class: 'has-dropdown' %>
  <%= tabs_tag namespace: :submenu, open_tabs: { class: 'sub-menu' } do |sub| %>
    <%= sub.appointments_index 'All Appointments', admin_appointments_path %>
    <%= sub.appointments_graph 'Appointments Graph', admin_appointments_graph_path %>
  <% end %>

  <%= tab.users 'Users', '#', 'data-toggle-submenu' => '', class: 'has-dropdown' %>
  <%= tabs_tag namespace: :submenu, open_tabs: { class: "sub-menu" } do |sub| %>
    <%= sub.users_index 'All Users', admin_users_path %>
    <%= sub.users_graph 'Users Graph', admin_users_graph_path %>
  <% end %>

  <%= tab.dentists 'Dentists', admin_dentists_path %>
  <%= tab.patients 'Patients', '#', 'data-toggle-submenu' => '', class: 'has-dropdown' %>
  <%= tabs_tag namespace: :submenu, open_tabs: { class: "sub-menu" } do |sub| %>
    <%= sub.patients_index 'All Patients', admin_patients_path %>
    <%= sub.patients_appointments_graph 'Appointments Graph', admin_patients_appointments_graph_path %>
    <%= sub.patients_graph 'Patients Graph', admin_patients_graph_path %>
  <% end %>

  <%= tab.secretaries 'Secretaries', '#', 'data-toggle-submenu' => '', class: 'has-dropdown' %>
  <%= tabs_tag namespace: :submenu, open_tabs: { class: "sub-menu" } do |sub| %>
    <%= sub.secretaries_index 'All Secretaries', admin_secretaries_path %>
    <%= sub.secretaries_appointments_graph 'Appointments Graph', admin_secretaries_appointments_graph_path %>
    <%= sub.secretaries_graph 'Secretaries Graph', admin_secretaries_graph_path %>
  <% end %>

  <%= tab.clinics 'Clinics', '#', 'data-toggle-submenu' => '', class: 'has-dropdown' %>
  <%= tabs_tag namespace: :submenu, open_tabs: { class: "sub-menu" } do |sub| %>
    <%= sub.clinics_list 'List View', admin_clinics_path %>
    <%= sub.clinics_map 'Map View', admin_clinics_map_path %>
  <% end %>

  <%= tab.services 'Services', admin_services_path %>
  <%= tab.specialties 'Specialties', admin_specialties_path %>
  <%= tab.symptoms 'Symptoms', admin_symptoms_path %>
  <%= tab.location_editor 'Location Editor', admin_cities_path %>
  <%= tab.ratings 'Ratings', admin_ratings_path %>
  <%= tab.rating_suggestions 'Rating Suggestions', admin_rating_suggestions_path %>
  <%= tab.hmos 'HMOs', admin_hmos_path %>
  <%= tab.feedbacks 'Feedbacks', admin_feedbacks_path %>
  <%= tab.faq 'FAQs', '#','data-toggle-submenu' => '', class: 'has-dropdown' %>
  <%= tabs_tag namespace: :submenu, open_tabs: { class: "sub-menu" } do |sub| %>
    <%= sub.faq_patient 'Patient', admin_faqs_path(type: 'Patient') %>
    <%= sub.faq_secretary 'Secretary', admin_faqs_path(type: 'Secretary') %>
  <% end %>
  <%= tab.sms 'SMS', admin_sms_path %>
  <%= tab.faq 'FAQs', '#','data-toggle-submenu' => '', class: 'has-dropdown' %>
  <%= tab.rally 'Rally Export', '#', 'data-toggle-submenu' => '', class: 'has-dropdown' %>
  <%= tabs_tag namespace: :submenu, open_tabs: { class: "sub-menu" } do |sub| %>
    <%= sub.registered 'Download and Register', admin_rally_exports_path(format: :csv) %>
    <%= sub.registered_with_booking 'Download, Register, and Book', admin_rally_exports_path(format: :csv, booking: "") %>
  <% end %>
  <%= tab.app_versions 'App Version', admin_app_versions_path %>
<% end %>

</ul>

<script>
  $(document).ready(function(){
    $('*[data-toggle-submenu]').on("click", function(){
      if ($(this).hasClass("current")){
        $(this).toggleClass("close-menu")
      }else{
        $(this).toggleClass("show-menu")
      };
      return false;
    });
  });
</script>
