<%= form_for [:admin, @secretary], builder: Pwdcalc::FormBuilder do |f| %>
  <% if @secretary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secretary.errors.count, "error") %> prohibited this secretary from being saved:</h2>

      <ul>
        <% @secretary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :avatar, value: nil, id: 'encoded_file_field' %>

  <%= render partial: "shared/croppable_avatar", locals: { avatar_source: @secretary } %>

  <hr />

  <div class="row">
    <div class="small-12 large-12 columns">
      <%= f.file_field :avatar %>
      <small>NOTE: Photo should have square dimension and atleast be 800px in width.</small>
    </div>
  </div>

  <br>

  <label>
    First Name: <%= f.text_field :first_name %>
  </label>

  <label>
    Last Name: <%= f.text_field :last_name %>
  </label>

  <label>
    Email: <%= f.text_field :email %>
  </label>

  <label>
    Mobile #: <%= f.text_field :mobile_number %>
  </label>

  <label>
    Birthdate: <%= f.date_field :birthdate, value: @secretary.birthdate.try(:to_date) %>
  </label>

  <hr>
  <h4>Account</h4>
  <div class='row'>
    <div class='large-6 columns'>
      <div class='pwdcalc-form-group'>
        <label>
          Password: <%= f.password_field :password, :data => { :dictionary => 'obviousPasswords()' } %>
        </label>
        <strong><%= pwdcalc_translated_hints %></strong>
      </div>
    </div>

    <div class='large-6 columns'>
      <a target="_blank" href="https://mediatemple.net/community/products/dv/204644370/strong-password-guidelines#3">Strong Password Guidelines</a>
      <ol>
        <li>At least eight characters.</li>
        <li>One or more of each of the following:
          <ul>
            <li>lower-case letter</li>
            <li>upper-case letter</li>
            <li>number</li>
            <li>punctuation mark</li>
          </ul>
        </li>
        <li>Lookalike characters to protect against password glimpses. Examples:
          <ul>
            <li><strong>O</strong> as in Oscar and the number <strong>0</strong>.</li>
            <li>Lower-case <strong>l</strong> and upper-case <strong>I</strong>.</li>
            <li>The letter <strong>S</strong> and the <strong>$</strong> sign.</li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

  <hr>

  <h4>Dentists</h4>

  <%= hidden_field_tag "secretary[dentist_ids][]", nil %>
  <% Dentist.all.each do |dentist| %>
    <%= check_box_tag "secretary[dentist_ids][]", dentist.id, @secretary.dentists.include?(dentist), id: dom_id(dentist) %>
    <%= label_tag dom_id(dentist), dentist.name %> <br>
  <% end%>


  <div class="actions">
    <%= f.submit 'Submit', class: 'button'%>
  </div>
<% end %>
