<table class="clean">
  <thead>
    <tr>
      <th width="<%= user_avatar_default_dimension %>"></th>
      <th width="300">Name</th>
      <th width="200">Email</th>
      <th width="100">Activation Code</th>
      <th width="150">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @secretaries.each do |secretary| %>
      <tr>
        <td>
          <%= image_tag secretary.avatar.url, width: user_avatar_default_dimension, height: user_avatar_default_dimension %>
        </td>
        <td> <%= "#{secretary.first_name} #{secretary.last_name}" %> </td>
        <td> <%= secretary.email %> </td>
        <td style="vertical-align: middle;">
          <%= secretary.activations.last.code %>
          <% unless secretary.activated? %>
            <br>
            <small>
              <%= link_to('Resend', admin_resend_user_code_path(secretary), method: :post) %>
            </small>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_secretary_path(secretary), class: 'admin-custom-btn edit' %>
          <%= link_to 'Delete', admin_secretary_path(secretary), class: 'admin-custom-btn alert', method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
