<% content_for :title, 'Secretaries' %>
<%= content_tag(:p, notice, id: "notice") if notice %>

<h5 class="header">Secretaries</h5>
<div class="right">
  <%= link_to 'NEW', new_admin_secretary_path, class: 'admin-btn new' %></small>
  <%= link_to "EXPORT TO CSV", admin_secretaries_path(type: "all", format: "csv"), class: 'admin-btn export' %>
  <%= link_to "EXPORT TO CSV [Activated]", admin_secretaries_path(type: "activated", format: "csv"), class: 'admin-btn export' %>
</div>

<%= form_tag admin_secretaries_path, method: :get, remote: true, class: "admin-search-bar" do %>
  <%= text_field_tag :q, nil, placeholder: "Search" %>
<% end %>

<div id="secretaryLists">
  <%= render 'secretaries' %>
</div>
<div id="paginator">
  <%= paginate @secretaries, remote: true %>
</div>
