<p id="notice"><%= notice %></p>

<label>
  Name: <%= "#{@secretary.first_name} #{@secretary.last_name}" %>
</label>

<label>
  Email: <%= @secretary.email %>
</label>

<label>
  Mobile #: <%= @secretary.mobile_number %>
</label>

<label>
  Birthdate: <%= @secretary.birthdate %>
</label>
