<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Dentasked <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Dentasked">
    <meta name="robots" content="noindex, nofollow">
    <title><%= content_for?(:title) ? yield(:title) : "Dentasked" %></title>
    <%= favicon_link_tag 'favicon.ico'%>
    <%= stylesheet_link_tag("application", :media => "all", "data-turbolinks-track" => true) %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_async_tag("application", "data-turbolinks-track" => true) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'tmpi/shared/header' %>
    <div class="layout-parent-grid">
      <div class="layout-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
